Package                        Version
------------------------------ --------
async-timeout                  4.0.2
azure-iot-device               2.12.0
beautifulsoup4                 4.12.2
bleak                          0.20.2
bs4                            0.0.1
certifi                        2023.5.7
charset-normalizer             3.2.0
deprecation                    2.1.0
idna                           3.4
janus                          1.0.0
packaging                      23.1
paho-mqtt                      1.6.1
pip                            22.0.4
pyobjc-core                    9.2
pyobjc-framework-Cocoa         9.2
pyobjc-framework-CoreBluetooth 9.2
pyobjc-framework-libdispatch   9.2
PySocks                        1.7.1
requests                       2.31.0
requests-unixsocket            0.3.0
setuptools                     60.9.3
soupsieve                      2.4.1
typing_extensions              4.7.1
urllib3                        1.26.16
wheel                          0.37.1
